Repository latticejs/lattice, pull requests merged in 2018-08, with the labels that each got.

#160 examples: apollo real-time chart
  examples/apollo-real-time-chart/.gitignore
  examples/apollo-real-time-chart/README.md
  examples/apollo-real-time-chart/package.json
  examples/apollo-real-time-chart/public/favicon.ico
  examples/apollo-real-time-chart/public/index.html
  examples/apollo-real-time-chart/public/manifest.json
  examples/apollo-real-time-chart/server/index.js
  examples/apollo-real-time-chart/server/realtime-values.js
  examples/apollo-real-time-chart/src/App.js
  examples/apollo-real-time-chart/src/Dashboard.js
  examples/apollo-real-time-chart/src/components/CPUInfo.js
  examples/apollo-real-time-chart/src/components/CPUUsage.js
  examples/apollo-real-time-chart/src/components/DisksUsage.js
  examples/apollo-real-time-chart/src/components/Layout.js
  examples/apollo-real-time-chart/src/components/MemoryUsage.js
  examples/apollo-real-time-chart/src/components/OSInfo.js
  examples/apollo-real-time-chart/src/components/ProcessUsage.js
  examples/apollo-real-time-chart/src/components/Widget.js
  examples/apollo-real-time-chart/src/config/apollo.js
  examples/apollo-real-time-chart/src/index.js
  examples/apollo-real-time-chart/src/stores/stat.js
  yarn.lock
Labels: examples

#164 examples: new minimal example
  examples/minimal/.babelrc
  examples/minimal/.gitignore
  examples/minimal/README.md
  examples/minimal/package-lock.json
  examples/minimal/package.json
  examples/minimal/src/App.js
  examples/minimal/src/Main.js
  examples/minimal/src/index.html
  examples/minimal/src/index.js
  examples/minimal/webpack.config.js
Labels: examples

#165 chore(package): update lerna to version 3.1.2
  package.json
Labels: greenkeeper

#166 chore(package): update eslint-config-prettier to version 3.0.1
  package.json
Labels: greenkeeper

#170 Dpaez/minimal example webpack opt
  .gitignore
  examples/minimal/package.json
  examples/minimal/webpack.config.js
  yarn.lock
Labels: examples

#177 stories: public static stories on gh pages
  .npmignore
  docs/favicon.ico
  docs/iframe.html
  docs/index.html
  docs/static/manager.498ee5dc552469e09e87.bundle.js
  docs/static/preview.7f4d2ed9d4284b299e43.bundle.js
  package.json
Labels: enhancement

#182 DAG: move one lvl up the click handler on render panel actions
  packages/dag/src/index.js
Labels: @latticejs/dag, bug

#180 DAG: no arrow heads for safari
  packages/dag/src/dag.js
Labels: @latticejs/dag, bug

#184 Stories: fix actions stories
  .storybook/addons.js
  docs/iframe.html
  docs/index.html
  docs/static/manager.2f29442a748a284dbd2e.bundle.js
  docs/static/manager.498ee5dc552469e09e87.bundle.js
  docs/static/preview.7f4d2ed9d4284b299e43.bundle.js
  docs/static/preview.c52f2ea016927ad0240e.bundle.js
  package.json
  packages/dag/package.json
  packages/dag/stories/index.js
  packages/infinite-list/stories/list.js
  packages/infinite-list/stories/table.js
  packages/mui-recharts/stories/basic.js
  packages/mui-recharts/stories/index.js
  packages/recharts-sunburst/stories/index.js
  packages/tree/package.json
  packages/tree/stories/tree.js
  packages/widgets/package.json
  packages/widgets/stories/loader.js
  packages/widgets/stories/sidemenu.js
  packages/widgets/stories/widget.js
  yarn.lock
Labels: bug, documentation

#185 examples: add screenshots
  examples/apollo-enterprise/README.md
  examples/apollo-enterprise/package.json
  examples/apollo-enterprise/screen.png
  examples/apollo-real-time-chart/README.md
  examples/apollo-real-time-chart/screen.png
  examples/basic/README.md
  examples/basic/screen.png
  examples/minimal/README.md
  examples/minimal/screen.png
Labels: enhancement, examples
