Repository latticejs/lattice, pull requests merged in 2018-10, with the labels that each got.

#227 Greenkeeper/default/rollup 0.66.2
  packages/dag/package.json
  packages/infinite-list/package.json
  packages/mui-recharts/package.json
  packages/recharts-sunburst/package.json
  packages/widgets/package.json
Labels: greenkeeper

#228 Greenkeeper/default/recharts 1.3.1
  packages/mui-recharts/package.json
  packages/recharts-sunburst/package.json
Labels: greenkeeper

#229 Greenkeeper/default/monorepo.material ui 3.1.2
  packages/dag/package.json
  packages/infinite-list/package.json
  packages/mui-recharts/package.json
  packages/widgets/package.json
  yarn.lock
Labels: greenkeeper

#232 Tree: fix tree cascadeCheck
  packages/tree/README.md
  packages/tree/src/tree.js
  packages/tree/stories/tree.js
  packages/tree/test/__snapshots__/storyshot.test.js.snap
  packages/tree/test/tree.enzyme.test.js
Labels: @latticejs/tree, bug

#233 Tree: use mocked package.json
  packages/tree/stories/pkg.json
  packages/tree/stories/tree.js
Labels: @latticejs/tree, bug

#236 dag: add fallback for getting transform value from svg
  packages/dag/src/index.js
  packages/dag/test/__snapshots__/storyshot.test.js.snap
Labels: @latticejs/dag, bug

#222 Examples: New CRUD example
  examples/crud/.gitignore
  examples/crud/README.md
  examples/crud/package.json
  examples/crud/public/favicon.ico
  examples/crud/public/index.html
  examples/crud/public/manifest.json
  examples/crud/screen.png
  examples/crud/src/App.js
  examples/crud/src/components/Dialog.js
  examples/crud/src/components/Form/TextInput.js
  examples/crud/src/components/Layout/Dialogs.js
  examples/crud/src/components/Layout/Layout.js
  examples/crud/src/components/Layout/index.js
  examples/crud/src/components/List/AddButton.js
  examples/crud/src/components/List/Filter.js
  examples/crud/src/components/List/ListActions.js
  examples/crud/src/components/List/SelectAllButton.js
  examples/crud/src/components/List/SelectionInfo.js
  examples/crud/src/components/List/Sort.js
  examples/crud/src/components/List/Title.js
  examples/crud/src/components/Modal.js
  examples/crud/src/components/Notification.js
  examples/crud/src/components/Projects/Form.js
  examples/crud/src/components/Projects/List/Item.js
  examples/crud/src/components/Projects/List/List.js
  examples/crud/src/components/Projects/List/ListActions.js
  examples/crud/src/components/Projects/List/Title.js
  examples/crud/src/components/Projects/List/index.js
  examples/crud/src/index.js
  examples/crud/src/lib/debounce.js
  examples/crud/src/screens/projects/index.js
  examples/crud/src/serviceWorker.js
  examples/crud/src/stores/index.js
  examples/crud/src/stores/project.js
  examples/crud/src/stores/ui/dialogs.js
  examples/crud/src/stores/ui/index.js
  examples/crud/src/stores/ui/project-form.js
  examples/crud/src/stores/ui/project-list.js
  examples/crud/src/stores/utils.js
  examples/crud/src/styles/index.css
  examples/crud/yarn.lock
  packages/infinite-list/README.md
  packages/infinite-list/src/List.js
  packages/widgets/src/Widget.js
  yarn.lock
Labels: examples

#241 dag: fix for FF and safari coordinates after scroll/pan
  packages/dag/src/index.js
  packages/dag/src/node.js
  packages/dag/stories/index.js
  packages/dag/test/__snapshots__/storyshot.test.js.snap
Labels: @latticejs/dag, bug

#244 dag: making use of node remove cb
  examples/dag-in-action/src/App.js
Labels: enhancement, examples

#245 Examples: CRUD bugfixes
  examples/crud/package.json
  examples/crud/src/components/Layout/Layout.js
  examples/crud/yarn.lock
Labels: bug, examples

#250 Greenkeeper/eslint config prettier 3.1.0
  package.json
  packages/infinite-list/test/__snapshots__/storyshot.test.js.snap
  packages/mui-recharts/test/__snapshots__/storyshot.test.js.snap
  packages/tree/test/__snapshots__/storyshot.test.js.snap
  packages/widgets/test/__snapshots__/storyshot.test.js.snap
  yarn.lock
Labels: greenkeeper

#249 Greenkeeper/default/storybook readme 4.0.0
  package.json
  packages/dag/package.json
  packages/infinite-list/package.json
  packages/mui-recharts/package.json
  packages/recharts-sunburst/package.json
  packages/storybook-readme/package.json
  packages/tree/package.json
  packages/tree/stories/pkg.json
  yarn.lock
Labels: greenkeeper

#248 Greenkeeper/default/monorepo.material ui 3.3.0
  .storybook/webpack.config.js
  package.json
  packages/dag/.storybook/decorator-material-ui.js
  packages/dag/package.json
  packages/infinite-list/.storybook/decorator-material-ui.js
  packages/infinite-list/package.json
  packages/mui-recharts/.storybook/decorator-material-ui.js
  packages/mui-recharts/package.json
  packages/tree/.storybook/decorator-material-ui.js
  packages/tree/package.json
  packages/tree/test/__snapshots__/storyshot.test.js.snap
  packages/widgets/.storybook/decorator-material-ui.js
  packages/widgets/package.json
  packages/widgets/src/Widget.js
  packages/widgets/test/__snapshots__/storyshot.test.js.snap
  packages/widgets/test/widget.enzyme.test.js
  yarn.lock
Labels: greenkeeper
