Repository latticejs/lattice, pull requests merged in 2018-06, with the labels that each got.

#46 Enzyme dag
  packages/dag/package.json
  packages/dag/setupTest.js
  packages/dag/test/enzyme.test.js
  yarn.lock
Labels: @latticejs/dag, enhancement

#66 Dk/enzyme sunburst
  packages/recharts-sunburst/package.json
  packages/recharts-sunburst/setupTest.js
  packages/recharts-sunburst/test/sunburst.enzyme.test.js
  packages/widgets/test/sidemenu.enzyme.test.js
  packages/widgets/test/widget.enzyme.test.js
  yarn.lock
Labels: @latticejs/recharts-sunburst

#71 Add: dag readme (initial version)
  packages/dag/README.md
Labels: @latticejs/dag

#72 sunburst: readme
  packages/recharts-sunburst/README.md
Labels: @latticejs/recharts-sunburst

#77 Improved widgets storybook
  packages/widgets/.storybook/decorator-material-ui.js
  packages/widgets/stories/index.js
  packages/widgets/stories/sidemenu.js
  packages/widgets/stories/widget.js
  packages/widgets/test/__snapshots__/storyshot.test.js.snap
Labels: @latticejs/widgets

#91 dag hooks: onNodeAdded with minor tweaks around dag
  packages/dag/README.md
  packages/dag/src/dag.js
  packages/dag/src/edge.js
  packages/dag/src/index.js
  packages/dag/src/node.js
  packages/dag/stories/index.js
  packages/dag/test/__snapshots__/storyshot.test.js.snap
  packages/dag/test/storyshot.test.js
Labels: @latticejs/dag
